parameters:
    level: max
    phpVersion: 80400

    paths:
        - src
        - packages/outbox-bundle/src

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/doctrine_object_manager.php

services:
    -
        class: Tools\PhpStan\HandlerReturnTypeRule
        tags:
            - phpstan.rules.rule
